.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 500px;
    margin: 10px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 30px ;
}
img {
    width: 150px ;
    height: 200px;
}

.titleForm {
    font-size: 20px;
}
p {
    color: rgb(58, 35, 6);
}
.title {
    color: grey;
    font-size: 18px;
}



body{
    background-image: url(./images/istockphoto-1206504617-612x612.jpg);
    color: white;
    overflow: hidden;
    overflow-y: auto;
 }
.card_area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card-form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 250px;
    background-color: white;
    gap: 5px;
    padding: 10px;
    background-color: rgb(0, 234, 255);
}
.removebutton{
    width: 70px;
    height: 40px;
    background-image: url() ;
}

button{
    margin: 5px;
}
.like_button{
    background-image: url(./images/like.jpg) ;
    width: 50px; ;
    height: 50px ;
    border: none;
}
.like{
    background-image: url(./images/Untitled.png) ;
    width: 50px; ;
    height: 50px ;
    border: none;
}
.delete_but{
    background-image: url(./images/19c.jpg) ;
    width: 50px; ;
    height: 50px ;
    border: none;
}
